<form class="mt-4" method="POST" action="/courses/handle-form-actions" name="container-form">
    <div class="d-flex">
      <h2 class="">Danh sách khóa học của tôi</h2>
      <a style="position: relative;" href="/me/store/trash" class="ml-auto">
        <span class="count-delete">{{countDelete}}</span>
        <svg class="text-center" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
      </a>
    </div>
    <div class="d-flex">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkBox-all">
        <label class="form-check-label" for="checkBox-all">
          <select class="form-select" aria-label="Default select example" name="action" required>
            <option value="" selected><-- Chọn hành động --></option>
            <option value="delete">Xóa</option>
          </select>
        </label>
      </div>
      <button class="check-all-submit-btn btn btn-primary btn-sm ms-4 disabled">Thực hiện</button>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">videoId</th>
                <th scope="col" colspan="3">lever</th>
            </tr>
        </thead>
        <tbody>
            {{#each Course}}
              <tr>
                  <th>
                     <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                      <label class="form-check-label" for="checkedCourse">
                      </label>
                  </th>
                  <th scope="row">{{sumIndex @index 1}}</th>
                  <td>{{this.name}}</td>
                  <td>{{this.description}}</td>
                  <td>{{this.videoId}}</td>
                  <td>{{this.level}}</td>
                  <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-outline-dark">edit</a>
                  </td>
                  <td>
                        <a href="" class="btn btn-outline-dark" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteCourseModal"></a>delete</a>
                  </td>
                </tr>
            {{else}}
            <tr class="text-center">
              <td colspan="3">
                Không có danh sách khóa học nào.
              </td>
               <td colspan="2">
                <a href="/courses/create" class="btn btn-primary" href="#" role="button">Thêm khóa học</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>


{{!-- confirm delete courses --}}
<div id="deleteCourseModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có thực chắc chắn muốn xóa khóa học này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button id="btn-delete-course" class="btn btn-danger">Xóa đi</button>
      </div>
    </div>
  </div>
</div>

{{!-- form hiden delete courses --}}
<form name="delete-course-form" method="POST"></form>

<script>
    
    var deleteCourseModal = document.getElementById('deleteCourseModal')
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var formDeleteCourse = document.forms['delete-course-form']
    var formSubmitCourse = document.forms['container-form']
    var checkBoxAll = $("#checkBox-all")
    var courseItemChecked = $('input[name="courseIds[]"]')
    var checkAllSubmitBtn = $('.check-all-submit-btn') 

    var courseID;

    if (deleteCourseModal) {
      deleteCourseModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        courseID= button.getAttribute('data-id')
      })
    }

    // click delete course
   btnDeleteCourse.onclick = function() {
      formDeleteCourse.action = '/courses/'+ courseID +'?_method=DELETE';
      formDeleteCourse.submit();
   }

   // click checkBoxAll
   checkBoxAll.change(function() {
      var isChecked = $(this).prop('checked')
      courseItemChecked.prop('checked', isChecked) 
      renderCheckedAllSubmitBtn() 
   })

   // click checkedItemCourse
   courseItemChecked.change(function() {
      var isCheckedAll = courseItemChecked.length === $('input[name="courseIds[]"]:checked').length
      checkBoxAll.prop('checked', isCheckedAll)
      renderCheckedAllSubmitBtn()
   })

   function renderCheckedAllSubmitBtn() {
      var CourseCheckedCount  = $('input[name="courseIds[]"]:checked').length;

      CourseCheckedCount > 0 ? checkAllSubmitBtn.removeClass('disabled') : checkAllSubmitBtn.addClass('disabled');
   }

</script>