<form method="POST" action="/courses/handle-form-actions"" class="mt-4" name="container-form">
    <div class="d-flex">
      <h2 class="">Danh sách khóa đã xóa</h2>
      <a style="height: 40px;" href="/me/store/courses" class="btn btn-primary ml-auto" role="button">Danh sách khóa học</a>
    </div>
    <div class="d-flex mb-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkBox-all">
        <label class="form-check-label" for="checkBox-all">
          <select class="form-select" aria-label="Default select example" name="action" required>
            <option value="" selected><-- Chọn hành động --></option>
            <option value="restore">Khôi phục</option>
            <option value="forceDelete">Xóa</option>
          </select>
        </label>
      </div>
      <button class="check-all-submit-btn btn btn-primary btn-sm ms-4 disabled">Thực hiện</button>
    </div>
    <table class="table">
        <thead>
            <tr>
              <th></th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">videoId</th>
                <th scope="col" colspan="3">lever</th>
            </tr>
        </thead>
        <tbody>
            {{#each Course}}
              <tr>
                 <th>
                     <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                      <label class="form-check-label" for="checkedCourse">
                      </label>
                  </th>
                  <th scope="row">{{sumIndex @index 1}}</th>
                  <td>{{this.name}}</td>
                  <td>{{this.description}}</td>
                  <td>{{this.videoId}}</td>
                  <td>{{this.level}}</td>
                  <td>
                        <a class="btn btn-primary btn-restore" role="button" data-id="{{this._id}}">Khôi phục</a>
                  </td>
                  <td>
                        <a href="" class="btn btn-primary" role="button" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteCourseModal"></a>Xóa vỉnh viễn</a>
                  </td>
                </tr>
            {{else}}
            <tr class="text-center">
              <td colspan="3">
                thùng rác trống
              </td>
               <td colspan="2">
                <a href="/me/store/courses" class="btn btn-primary" href="#" role="button">Danh sách khóa học</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>


{{!-- confirm delete courses --}}
<div id="deleteCourseModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có thực chắc chắn muốn xóa khóa học này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button id="btn-delete-course" class="btn btn-danger">Xóa đi</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    
    var deleteCourseModal = document.getElementById('deleteCourseModal')
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var deleteCourseForm = document.forms['delete-course-form']
    var restoreCourseForm = document.forms['restore-course-form']
    var formSubmitCourse =document.forms['container-form']
    var restoryBtn = $(".btn-restore")
    var checkBoxAll = $("#checkBox-all")
    var checkBoxItemCourses = $('input[name="courseIds[]"]');
    var checkAllSubmitBtn = $(".check-all-submit-btn")

    var courseID;

    if (deleteCourseModal) {
      deleteCourseModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        courseID= button.getAttribute('data-id')
      })
    }

  // delete force
   btnDeleteCourse.onclick = function() {
      deleteCourseForm.action = '/courses/'+ courseID +'/force?_method=DELETE';
      deleteCourseForm.submit();
   }

   //btnRestore
   restoryBtn.click(function() {
    const courseID =$(this).data('id')
    restoreCourseForm.action = '/courses/'+ courseID +'/restore?_method=PATCH';
    restoreCourseForm.submit()
   })

   // click checkbox checkAll
   checkBoxAll.change(function() {
    var isCHeckedAll = $(this).prop('checked');
    checkBoxItemCourses.prop('checked', isCHeckedAll)
    renderCheckedAllSubmitBtn()
   })

  // click checkboxItemCourse
  checkBoxItemCourses.change(function() {
    var isCHeckedAll = checkBoxItemCourses.length === $('input[name="courseIds[]"]:checked').length
    checkBoxAll.prop('checked', isCHeckedAll)
    renderCheckedAllSubmitBtn()
  })

  function renderCheckedAllSubmitBtn() {
    var countCourseChecked = $('input[name="courseIds[]"]:checked').length
    countCourseChecked > 0 ? checkAllSubmitBtn.removeClass('disabled') : checkAllSubmitBtn.addClass('disabled')

  }

</script>